$default-color: #f7f8fa;
$bg-white: #ededed;
$bg-gray: #eaf2f8;
$primary-color: #2993ff;
$white-color: #fff;
$black-color: #000;

$font-color-red: #96514d;
$font-color-brown: #bf794e;
$text-green: #00a497;
